<button (click)="showUserForm = !showUserForm" class="btn btn-dark mb-3">Add user...</button>
<div *ngIf="showUserForm" class="card card-body mb-3">
  <h2>Add User... </h2>
  <form #userForm='ngForm' (submit)="onSubmit(userForm)">
    <div class="form-group">
      <label>First Name:</label>
      <input [(ngModel)]="user.firstName" [ngClass]="{'is-invalid':userFirstName.errors && userFirstName.touched}" type="text"
        name="firstName" class="form-control" #userFirstName="ngModel" minlength="2" required>
      <div [hidden]="userFirstName.errors?.required" class="invalid-feedback mb-3">
        <small>give me your name...</small>
      </div>
      <div [hidden]="userFirstName.errors?.minlength" class="invalid-feedback mb-3">
        <small>must be atleast 2 characters...</small>
      </div>
    </div>
    <div class="form-group">
      <label>Last Name:</label>
      <input [(ngModel)]="user.lastName" [ngClass]="{'is-invalid':userLastName.errors && userLastName.touched}" type="text"
        name="lastName" class="form-control" #userLastName="ngModel" minlength="2" required>
      <div [hidden]="userLastName.errors?.required" class="invalid-feedback mb-3">
        <small>give me your last name...</small>
      </div>
      <div [hidden]="userLastName.errors?.minlength" class="invalid-feedback mb-3">
        <small>must be atleast 2 characters...</small>
      </div>
    </div>
    <div class="form-group">
      <label>email address:</label>
      <input [(ngModel)]="user.email" [ngClass]="{'is-invalid':userEmail.errors && userEmail.touched}" type="email"
        name="email" class="form-control" #userEmail="ngModel" 
        pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
        required>
      <div [hidden]="userEmail.errors?.required" class="invalid-feedback mb-3">
        <small>give me your email...</small>
      </div>
      <div [hidden]="userEmail.errors?.pattern" class="invalid-feedback mb-3">
        <small>email is not valid...</small>
      </div>
    </div>
    <button [disabled]="!userForm.form.valid" class="btn btn-block mb-3">Add
      new user...</button>
  </form>
</div>
<ul class="list-unstyled" *ngIf="loaded && users?.length > 0">
  <li class="card card-body mb-2" *ngFor="let user of users" [class.bg-light]="user.isActiv">
    <h3>{{ user.firstName }} {{ user.lastName }} <small><button class="btn btn-dark btn-sm" (click)="toggleHide(user)">
          <i [ngClass]="user.hide ? 'fa fa-plus' : 'fa fa-minus'"></i></button></small></h3>
    <ul class="list-group" *ngIf="!user.hide">
      <li class="list-group-item">{{user.email}}</li>
      <li class="list-group-item">{{user.registered | date}}</li>
      <li class="list-group-item" *ngIf="showUserForm">
      </li>
    </ul>
  </li>
</ul>

<h2 *ngIf="users?.lenght == 0">No users found...</h2>

<h2 *ngIf="!loaded">Loading users please...</h2>